<!DOCTYPE html>
<html>

   <head>
      <title>File Metadata Microservice | Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>File Metadata</h1>
         <form action="/input2" method="post" enctype="multipart/form-data">
           <input name="uploadFile" type="file"><br/><br/>
           <input type="submit" value="send file">
         </form>
         <br/>
         <hr>
         <h3>How to use:</h3>
         <p>
           Select and upload your file.
           You will get information returned such as filesize.
         </p>
      </div>
   </body>

</html>
