<!DOCTYPE html>
<html>

   <head>
      <title>File Metadata Microservice | Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>File Metadata</h1>
         <h3>How to use:</h3>
         <p>
           
         </p>
      </div>
   </body>

</html>
